@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}
